[global]
; Set to true for debugging. Always false in production!
debug=False

; IP to bind to
bindhost=127.0.0.1

; TCP port to listen to.
port=9991

; IP addresses or netmasks allowed to make requests. NOTE! You should
; still use a firewall as well!
sources = 127.0.0.0/8 1.2.3.4/20   5.6.7.8

; Path to the deploystatic binary
deploystatic = /home/mha/django/postgresqleu/tools/deploystatic/deploystatic.py

;; Then for each repository:

[reponame]
; Secret key used in URL
key=foobartest

; Type of repository
type=django

; Root of the repository
root=/tmp/repodir

; Optional target directory (depending on repository type)
target=/tmp/target

; Optional git branch name (depending on repository type)
branch=origin/master

; Optional script to notify of updates
notify=/some/where/notify.sh
